/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2015/03

***********************************************************************************************/
.clean{ clear:both}
#subnav{
	display: block;
	width:165px;
	margin-right:55px}
#subnav li a{
	display:block;
	float:left;
	width:35px;
	height:35px;
	text-indent:-9999px;
	background:url(../images/btn_subnav.png);
	margin:0 10px}
#subnav .subnav-01{ background-position:0 0}
#subnav .subnav-01:hover{ background-position:0 -35px}
#subnav .subnav-02{ background-position:-35px 0}
#subnav .subnav-02:hover{ background-position:-35px -35px}
#subnav .subnav-03{ background-position:-70px 0}
#subnav .subnav-03:hover{ background-position:-70px -35px}

.intro-effect-push>.title h2{
	display:block;
	float:left;
	width:185px;
	height:180px;
	background:url(../images/bg_h2.png) 35px 10px no-repeat;
	text-indent:-9999px;
	margin:0;
	padding:0}
.intro-effect-push>.title .nav_left, .intro-effect-push>.title .nav_right{
	display:block;
	width:526px;
	padding-top:80px;}
.intro-effect-push>.title .nav_left{ float:left}	
.intro-effect-push>.title .nav_right{ float:right}
.intro-effect-push>.title .nav_left ul, .intro-effect-push>.title .nav_right ul{
	border-top:2px solid #d9a5a9;
	border-bottom:2px solid #d9a5a9}
.intro-effect-push>.title .nav_left li, .intro-effect-push>.title .nav_right li{
	display: inline-block