/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2015/03
***********************************************************************************************	
	1 通用
	2.基本架構
	   2-1.頁首
	   2-2.頁尾
	   2-3.主體框架
	   2-4.返回頂端按鈕 
	3.頁面架構
	   3-1.品牌簡介
	   3-2.商品櫥窗
	   3-3.聯絡我們		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/	
body{
	background: url(../images/bg_site.png);
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#393a3a}
a:link {text-decoration:underline; color:#e978aa}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}


/* 2. 基本架構  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:1240px; margin:0 auto}

/*2-1.頁首*/
header{	display:block; position:relative; width:100%}
#subnav{
	display: block;
	position:absolute;
	top:25px;
	right:0;
	width:165px}
#subnav li a{
	display:block;
	float:left;
	width:35px;
	height:35px;
	text-indent:-9999px;
	background:url(../images/btn_subnav.png);
	margin:0 10px}
#subnav .subnav-01{ background-position:0 0}
#subnav .subnav-01:hover{ background-position:0 -35px}
#subnav .subnav-02{ background-position:-35px 0}
#subnav .subnav-02:hover{ background-position:-35px -35px}
#subnav .subnav-03{ background-position:-70px 0}
#subnav .subnav-03:hover{ background-position:-70px -35px}

header h1 a{
	display:block;
	float:left;
	width:185px;
	height:180px;
	background:url(../images/bg_h2.png) 35px 10px no-repeat;
	text-indent:-9999px;
	margin:0;
	padding:0}
.nav_left, .nav_right{
	display:block;
	width:526px;
	padding-top:80px}
.nav_left{ float:left}	
.nav_right{ float:right}
.nav_left ul, .nav_right ul{
	border-top:2px solid #e978aa;
	border-bottom:2px solid #e978aa}
.nav_left li, .nav_right li{ display:inline-block; width:260px}		
.nav_left li a, .nav_right li a{
	display:block;
	width:86px;
	height:25px;
	text-indent:-9999px;
	margin:5px 87px 0}
.nav-01{ background:url(../images/bg_nav.png) no-repeat}
.nav-01:hover, .nav-01.navin{ background:url(../images/bg_nav.png) 0 -25px no-repeat}
.nav-02{ background:url(../images/bg_nav.png) -86px 0 no-repeat}
.nav-02:hover, .nav-02.navin{ background:url(../images/bg_nav.png) -86px -25px no-repeat}
.nav-03{ background:url(../images/bg_nav.png) -172px 0 no-repeat}
.nav-03:hover{ background:url(../images/bg_nav.png) -172px -25px no-repeat}
.nav-04{ background:url(../images/bg_nav.png) -258px 0 no-repeat}
.nav-04:hover, .nav-04.navin{ background:url(../images/bg_nav.png) -258px -25px no-repeat}

/*2-2.頁尾*/
footer{
	display:block;
	width:1240px;
	margin:50px auto;
	border-top:2px solid #e978aa;
	text-align:center;
	padding-top:14px}
footer p{
	font-size:.813em;
	color:#404040;
	text-shadow:1px 1px 0 #E9E8E8}
footer a:link,footer a:visited{ color:#404040; text-decoration:none}

/*2-3.主體框架*/
#page_main{
	display:block;
	width:1100px;
	margin:50px auto}
#page_main h3{
	display:block;
	width:100%;
	height:43px;
	background:url(../images/bg_pagetitle.png) no-repeat;
	text-indent:-9999px}
#page_main .ptitle_01{ background-position:0 0}
#page_main .ptitle_02{ background-position:0 -43px}	
#page_main .ptitle_03{ background-position:0 -86px}
#page_main .ptitle_04{ background-position:0 -129px}
#page_main .ptitle_05{ background-position:0 -172px}	

/*2-4 返回頂端鈕*/
#toTop{
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top}
#toTopHover{
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0)}
#toTop:active, #toTop:focus { outline:none}

/* 3.頁面架構  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/*3-1.品牌簡介*/
#page_main section{ display:block; width:1100px; margin:5px auto 50px}
#box_brand01, #brand_mind{
	display:block;
	position:relative;
	width:1100px;
	height:137px}
#box_brand01{ background:url(../images/bg_brand01.jpg) no-repeat}
#brand_mind{ background:url(../images/bg_brand-mind.jpg) no-repeat}	
#box_brand01 a{
	display:block;
	position:absolute;
	top:-29px;
	right:-26px;
	width:145px;
	height:125px;
	background:url(../images/btn_goldgmp.png) no-repeat;
	text-indent:-9999px}
#box_brand01 p{
	display:block;
	width:480px;
	font-size:15px;
	color:#404040;
	line-height:30px;
	margin-left:600px;
	padding-top:25px;
	text-shadow: 1px 1px 0px #feeff2}
#box_brand02 p{
	font-size:15px;
	color:#404040;
	line-height:30px;
	text-shadow: 1px 1px 0px #feeff2;
	margin:15px 50px;
	text-indent:30px}
#box_brand03 h4{
	font-size:15px; 
    color:#62696f;
	text-shadow: 1px 1px 0px #feeff2;
	padding-left:12px}
#box_brand03 li{
	display:block;
	width:1030px;
	min-height:150px;
	margin:0 auto;
	border-bottom:1px dashed #d3d3d2}
#box_brand03 li:last-child{border-bottom:none}
#box_brand03 .components_pic, #box_brand03 .components_info{ display:block; float:left; padding:25px 0}
#box_brand03 .components_pic{
	width:190px}
#box_brand03 .components_pic img{
	display:block;
	width:134px;
	height:134px;
	margin:0 auto 10px}	
#box_brand03 .components_pic h4{ text-align:center; text-shadow: 1px 1px 0px #feeff2; letter-spacing:1px}	
#box_brand03 .components_info{ width:840px}
#box_brand03 p{
	font-size:15px;
	color:#404040;
	line-height:25px;
	text-shadow: 1px 1px 0px #feeff2}
#box_brand03 p span{ display:block; padding-top:55px}			
.souce{ text-align:right}	 						

/*3-1.商品櫥窗*/
#brand_mind h4{ display:none}
#brand_mind span{
	display:block;
	position:absolute;
	top:-12px;
	right:-10px;
	width:180px;
	height:127px;
	background:url(../images/bg_goldline.png) no-repeat}

#list_products li>a{
	display:block;
	float:left;
	position:relative;
	width:279px;
	height:363px;
	margin:0 43px 70px;
	overflow:hidden}
#list_products img{
	display:block;
	width:224px;
	height:248px;
	margin:50px 0 0 49px}
#list_products a:link>h4{
	display:block;
	width:224px;
	height:38px;
	background:url(../images/bg_shoph4.png) repeat-x;
	margin-left:49px;
	padding-top:10px;
	text-align:center;
	font-size:.938em;
	color:#923a48;
	text-shadow:1px 1px 0 #fef4f6;
	letter-spacing:1px}
#list_products a:hover>h4{
	background:url(../images/bg_shoph4.png) 0 -60px repeat-x;
	color: #fef4f6;
	text-shadow:none}	
#list_products a, #list_products a:visited{text-decoration:none}	
#list_products span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	width:279px;
	height:365px;
	background:url(../images/cover_pcute.png) no-repeat}

.p_img{
	display:block;
	float:left;
	position:relative;
	width:304px;
	padding:65px 0 0 60px;
	margin-bottom:30px}
.p_img span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	width:364px;
	height:459px;
	background:url(../images/cover_pcute-big.png) no-repeat}	
.p_main{
	display:block;
	position:relative;
	float:right;
	width:664px;
	padding:50px 0 50px 70px}
.p_main h4{
	display:block;
	float:left;
	width:50%;
	background:url(../images/pot_pink.png) no-repeat;
	padding-left:45px}
.p_main p{
	display:block;
	float:right;
	width:40%;
	text-align:right;
	padding-right:15px}
.p_main h4,	.p_main p{ font-size:1.25em; color:#e978aa; line-height:43px}
.p_main hr{ color:#e978aa; opacity:.3; size:5px}
.p_main .btn_gas{
	display:block;
	position:absolute;
	top:115px;
	right:5px;
	padding:3px 8px;
	font-size:.813em;
	line-height:30px;
	color:#FFF;
	letter-spacing:1px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	background: -webkit-gradient(linear, left top, right top, from(#FBAC91), to(#E978AA));
    background: -webkit-linear-gradient(top, #FBAC91, #E978AA);
	background: -moz-linear-gradient(top, #FBAC91, #E978AA);
	background: -o-linear-gradient(top, #FBAC91, #E978AA);
	background: -ms-linear-gradient(top, #FBAC91, #E978AA);
	background: linear-gradient(top, #FBAC91, #E978AA);
	background-color: #FBAC91}
.btn_gas:hover{
	background: -webkit-gradient(linear, left top, right top, from(#E978AA), to(#FBAC91));
	background: -webkit-linear-gradient(top, #E978AA, #FBAC91);
	background: -moz-linear-gradient(top, #E978AA, #FBAC91);
	background: -o-linear-gradient(top, #E978AA, #FBAC91);
	background: -ms-linear-gradient(top, #E978AA, #FBAC91);
	background: linear-gradient(top, #E978AA, #FBAC91);
	background-color: #E978AA}

.p_main h5{
	font-size:1.125em;
	line-height:35px;
	color:#e978aa;
	padding-left:40px}
.p_main ul{ padding:0 30px 20px 50px}
.p_main li{
	list-style:none;
	font-size:0.875em;
	line-height:22px;
	margin-left:0;
	padding:8px 10px;
	border-bottom:1px dashed #CCC}

.box_btn{ display:block; width:314px; padding-left:60px}
.box_btn a{
	display: inline-block;
	width:120px;
	font-size:.873em;
	line-height:35px;
	text-align:center;
	letter-spacing:1px;
	text-decoration:none;
	text-shadow:0 0 5px #999;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	margin:0 10px}
.box_btn .btn_back{
	color:#FFF;
	background: -webkit-gradient(linear, left top, right top, from(#E9CED2), to(#cccccc));
    background: -webkit-linear-gradient(top, #E9CED2, #cccccc);
    background: -moz-linear-gradient(top, #E9CED2, #cccccc);
    background: -o-linear-gradient(top, #E9CED2, #cccccc);
    background: -ms-linear-gradient(top, #E9CED2, #cccccc);
    background: linear-gradient(top, #E9CED2, #cccccc);
    background-color: #E9CED2}
.box_btn .btn_back:hover{
	color:#FFF;
	background: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#E9CED2));
	background: -webkit-linear-gradient(top, #cccccc, #E9CED2);
	background: -moz-linear-gradient(top, #cccccc, #E9CED2);
	background: -o-linear-gradient(top, #cccccc, #E9CED2);
	background: -ms-linear-gradient(top, #cccccc, #E9CED2);
	background: linear-gradient(top, #cccccc, #E9CED2);
	background-color: #cccccc}		
.box_btn .btn_buy{
	color:#FFF;
	background: -webkit-gradient(linear, left top, right top, from(#FBAC91), to(#E978AA));
    background: -webkit-linear-gradient(top, #FBAC91, #E978AA);
	background: -moz-linear-gradient(top, #FBAC91, #E978AA);
	background: -o-linear-gradient(top, #FBAC91, #E978AA);
	background: -ms-linear-gradient(top, #FBAC91, #E978AA);
	background: linear-gradient(top, #FBAC91, #E978AA);
	background-color: #FBAC91}
.box_btn .btn_buy:hover{
	background: -webkit-gradient(linear, left top, right top, from(#E978AA), to(#FBAC91));
	background: -webkit-linear-gradient(top, #E978AA, #FBAC91);
	background: -moz-linear-gradient(top, #E978AA, #FBAC91);
	background: -o-linear-gradient(top, #E978AA, #FBAC91);
	background: -ms-linear-gradient(top, #E978AA, #FBAC91);
	background: linear-gradient(top, #E978AA, #FBAC91);
	background-color: #E978AA}

/*3-3 聯絡我們*/
#box_contact{
	display:block;
	position:relative;
	float:left;
	width:450px;
	padding:15px 0 0 45px}
#box_contact h4, #box_cocial h4{
	font-size:1.25em; line-height:28px; color:#E978AA; padding-bottom:8px}
#box_contact li{
	font-size:.938em;
	line-height:35px;
	padding:5px 25px;
	margin-right:100px;
	border-bottom:1px dashed #C9C9C9}
#box_contact span{
	display:block;
	position:absolute;
	bottom:-400px;
	right:10px;
	width:319px;
	height:221px;
	background:url(../images/pic_rose.png) no-repeat}	
#box_cocial{
	display:block;
	float:right;
	width:600px;
	min-height:550px;
	padding-top:15px}						
					